.loginpage {
    background-color: rgb(0, 102, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#loginWrapper {
    width: 30%;
    background: rgb(175, 128, 0);
    border-radius: 20px;
    padding: 10px 15px;
}