.loginpage {
    background-color: #0437F2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 15px;
}

label{
    font-size: 20px;
}

#loginWrapper {
    width: 30%;
    background: #F2BF04;
    border-radius: 20px;
    /* padding: 20px 25px; */
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.login-component-button{
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}