.findpilot {
  text-align: center;
  padding: 20px;
  background-color: #061a62;
}

.findpilot-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.find-pilot-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-container {
  max-width: 600px;
  width: 100%;
}

.dropdown-title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.findpilot-button {
  padding: 10px 20px;
  background-color: #F2BF04;
  font-size: 22px;
  color: #061a62;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pilot-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-pilot-sentence{
  color: white;
  height: 280vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.card-text {
  margin-bottom: 10px;
  color: black;
}

.card-text strong {
  color: black;
}