/* General styling for the entire page */
.findpilot {
  padding: 20px;
  color: #fff;
  background-color: #001f3f;
  min-height: 110vh;
}

.findpilot-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #ffdc00;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Styling for the mission cards and pilot cards */
.missions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Add some space between cards */
}

.mission-card, .card {
  border: 1px solid #ffdc00;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #002f6c;
  color: #ffdc00;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.mission-card:hover, .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 220, 0, 0.5);
}

.selected-mission {
  text-align: center;
  padding: 20px;
}

.selected-mission h2 {
  font-size: 2em;
  color: #ffdc00;
}

.selected-mission p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add some space between cards */
}

.card-body {
  padding: 8px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1em;
  margin-bottom: 5px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
/* Styling for the back button */
.back-button {
  gap: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
  background-color: #ff851b;
  transform: scale(1.05);
}

/* Add this to FindPilot.css */
.card.selected {
  border-color: #2ecc71;
  box-shadow: 0 0 20px rgba(46, 204, 113, 0.5);
}

.accept-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.accept-button:hover {
  background-color: #27ae60;
  transform: scale(1.05);
}
