.findpilot {
  height: 170vh;
  background-color: #061a62;
  padding-top: 50px;
}

.findpilot-title {
  display: flex;
  justify-content: center;
  color: white;
}
.find-pilot-section {
  display: flex;
  justify-content: center;
  height: 400px;
}

.form-container {
  max-width: 400px;
  margin: 20px 20px auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for form inputs */
.form-container input,
.form-container select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style for submit button */
.findpilot-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Style for dropdown menus */
.form-container select {
  background-color: #fff;
  cursor: pointer;
}


.find-pilot-section {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ensure items are aligned at the top */
  height: auto; /* Remove fixed height */
  padding-bottom: 20px; /* Add padding at the bottom */
}

.dropdown-title{
  color: black;
}

.results {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Adjusts the flex direction */
  background-color: #061a62;
}

.results-heading {
  color: white;
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 10px 0; /* Add padding for better spacing */
  border-radius: 5px 5px 0 0; /* Rounded corners for the top */
}

.results table {
  width: 70%;
  margin: 0 auto; /* Center the table */
  border-collapse: collapse;
  background-color: #061a62;
  border-radius: 0 0 5px 5px; /* Rounded corners for the bottom */
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results th,
.results td {
  color: white;
  padding: 8px 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.results th {
  background-color: #061a62;
  color: #fff;
}

.results tbody tr:nth-child(even) {
  background-color: #061a62;
}

/* .results tbody tr:hover {
  background-color: #e0e0e0;
} */
