.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #061a62;
    ;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    align-items: center;
}

.navbar-item {
    color: white;
    text-decoration-line: none;
    margin-right: 25px;
}

.navbar-logo {
    width: 80px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.login-button{
    background-color: #F2BF04;
    color: #061a62;
    border-radius: 10px;
    border-color: transparent;
    transition-duration: 0.5s;
    padding: 10px 20px;
}


.navbar-text{
    font-size: 25px;
    color: #F2BF04;
    text-decoration-line: none;
}




.login-text{
    font-size: 22px;
    background-color: #F2BF04;
    color: #061a62;
    text-decoration-line: none;
}

.login-text:hover{
    color: #061a62;
}

.logout-button{
    font-size: 22px;
    background-color: #F2BF04;
    color: #061a62;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
  }

 .error-text{
    display: none;
 }