.accessforbidden {
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accessforbidden-section {
  display: block;
}

.accessforbidden-text {
  color: white;
  font-size: 18px;
}

.accessforbidden-button {
  font-size: 22px;
  color: #0437F2;
  border: none;
  border-radius:10px ;
  background-color: rgb(255, 238, 0);
  padding: 10px 20px;
}

body{
    background-color:#0437F2;
}