 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #061a62;
    ;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    align-items: center;
}

.navbar-item {
    color: white;
    text-decoration-line: none;
    margin-right: 25px;
}

.navbar-logo {
    width: 80px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.login-button{
    background-color: #061a62;
    border-radius: 10px;
    border-color: transparent;
    transition-duration: 0.5s;
    padding: 10px 20px;
}


.login-button:hover{
    background-color: #F2BF04;
    color: #061a62;
}

/* .login-text{
    background-color: #F2BF04;
}

.login-text:hover{
    color: #0437F2;
} */

a{
    color:#F2BF04;
    text-decoration-line: none;
    font-size: 22px;
}


a:hover{
    color: #0437F2;
}

