video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 200px;
    z-index: -1;
    object-fit: cover;
  }


.logo-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.airforce-logo{
    width: 900px;
}