.database{
    height: 100vh;
    background-color:#061a62 ;
}

.database-sentence{
    margin: 0;
    color: #F2BF04;
}


.carlton{
    width: 600px;
    height: 500px;
}


.logout-button{
    font-size: 15px;
    background-color: #F2BF04;
    color: #061a62;
}