.editprofile {
  text-align: center;
  padding: 20px;
  background-color: #061a62;
}

.editprofile-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px; /* Increased gap for more separation */
}

.form-column {
  width: calc(50% - 20px); /* Adjusted width calculation */
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #061a62;
}

.editprofile-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.edit-profile-button,
.back-button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.edit-profile-button {
  background-color: #28a745;
}

.back-button {
  background-color: #007bff;
}



   